<!-- ------ Start of footer -------- -->
<footer class="bg-gray pt-24 text-center md:text-start">
  <div class="container">
    <div class="mx-auto flex flex-wrap lg:flex-none justify-between gap-8 lg:gap-2 md:pb-10">
      {% for block in section.blocks %}
        {% if block.type == 'logo' %}
          <div class="col w-full lg:w-auto">
            <a href="{{ block.settings.logo_link }}" class="inline-block mb-5">
              {% if block.settings.logo_desktop != blank %}
                <img
                  src="{{ 'footer-logo-d.svg' | asset_url }}"
                  class="hidden md:block lg:w-[120px] 3xl:w-auto"
                  alt="Vuba Stone Logo Desktop"
                >
              {% endif %}
              {% if block.settings.logo_mobile != blank %}
                <img
                  src="{{ 'footer-logo-m.svg' | asset_url }}"
                  class="md:hidden"
                  alt="Vuba Stone Logo Mobile"
                >
              {% endif %}
            </a>
          </div>
        {% elsif block.type == 'menu' %}
          <div class="col w-full md:w-[45%] lg:w-auto">
            <h3 class="text-2xl lg:text-xl 3xl:text-2xl font-semibold mb-5">{{ block.settings.menu_heading }}</h3>
            <ul class="space-y-3 text-base">
              {% for link in linklists[block.settings.menu].links %}
                <li>
                  <a href="{{ link.url }}" class="text-black hover:text-primary">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% elsif block.type == 'address' %}
          <div class="col w-full md:w-[45%] lg:w-[22%] 2xl:w-auto">
            {% if block.settings.address_heading != blank %}
              <h3 class="text-2xl lg:text-xl 3xl:text-2xl font-semibold mb-5">
                {{ block.settings.address_heading }}
              </h3>
            {% endif %}
            <p class="text-base leading-7">
              {% if block.settings.address_name != blank %}
                {{ block.settings.address_name -}}
              {% endif %}

              {% if block.settings.address_line1 != blank %}
                <br>
                {{ block.settings.address_line1 -}}
              {% endif %}

              {% if block.settings.address_line2 != blank %}
                <br>
                {{ block.settings.address_line2 -}}
              {% endif %}

              {% if block.settings.address_city != blank %}
                <br>
                {{ block.settings.address_city -}}
              {% endif %}

              {% if block.settings.address_postcode != blank %}
                <br>
                {{ block.settings.address_postcode -}}
              {% endif %}

              {% if block.settings.address_email != blank %}
                <br>
                <a href="mailto:{{ block.settings.address_email }}" class="underline text-primary">
                  {{- block.settings.address_email -}}
                </a>
              {% endif %}

              <br>
              <a href="tel:{{ block.settings.address_phone }}" class="text-primary underline">
                {{- block.settings.address_phone -}}
              </a>
            </p>
          </div>
        {% elsif block.type == 'social_media' %}
          <div class="col w-full md:w-[45%] lg:w-[22%] 2xl:w-auto">
            <h3 class="text-2xl lg:text-xl 3xl:text-2xl font-semibold mb-5">{{ block.settings.social_heading }}</h3>
            <div class="flex justify-center md:justify-normal space-x-8 mb-6">
              <a href="{{ block.settings.instagram_link }}"
                ><img class="h-[23px]" src="{{ 'instagram-icon.svg' | asset_url }}" alt="instagram-icon"
              ></a>
              <a href="{{ block.settings.facebook_link }}"
                ><img class="h-[23px]" src="{{ 'facebook-icon.svg' | asset_url }}" alt="facebook-icon"
              ></a>
              <a href="{{ block.settings.twitter_link }}"
                ><img class="h-[23px]" src="{{ 'twitter-icon.svg' | asset_url }}" alt="twitter-icon"
              ></a>
            </div>

            <div {{ block.shopify_attributes }}>
              {% form 'customer', class: 'newsletter-form' %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <label class="block text-base" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="w-full my-3 border rounded-xl p-2 text-sm h-12"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="Newsletter-error--{{ section.id }}"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="Newsletter-success--{{ section.id }}"
                      {% endif %}
                      required
                    >

                    <button
                      type="submit"
                      class="mt-2 text-white px-14 py-3 inline-block rounded-full text-base bg-primary"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      Sign up
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="Newsletter-success--{{ section.id }}"
                    tabindex="-1"
                    autofocus
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-success.svg' | inline_asset_content -}}
                    </span>
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {% endform %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="pt-10 md:py-5 md:flex items-center justify-between flex-row-reverse md:border-t-2 border-primary">
      <ul class="space-y-3 md:space-y-0 md:space-x-10 text-xs mb-7 md:mb-0 md:flex">
        <li><a href="#" class="text-black hover:text-primary">Privacy Policy</a></li>
        <li><a href="#" class="text-black hover:text-primary">Cookie preferences</a></li>
        <li><a href="#" class="text-black hover:text-primary">Terms & conditions</a></li>
      </ul>
      <p class="text-[10px] md:text-xs ">2025® Vuba Stone All rights reserved</p>
    </div>
  </div>
</footer>
<!-- ------- End of footer ------- -->

{% schema %}
{
  "name": "Footer",
  "settings": [],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "url",
          "id": "logo_link",
          "label": "Logo Link",
          "default": "/"
        },
        {
          "type": "image_picker",
          "id": "logo_desktop",
          "label": "Logo Desktop"
        },
        {
          "type": "image_picker",
          "id": "logo_mobile",
          "label": "Logo Mobile"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_heading",
          "label": "Menu Heading",
          "default": "Site map"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu"
        }
      ]
    },
    {
      "type": "address",
      "name": "Address",
      "settings": [
        {
          "type": "text",
          "id": "address_heading",
          "label": "Address Heading",
          "default": "Distributor HQ"
        },
        {
          "type": "text",
          "id": "address_name",
          "label": "Address Name",
          "default": "Distributor HQ"
        },
        {
          "type": "text",
          "id": "address_line1",
          "label": "Address Line 1",
          "default": "Sierra Stone / Rubber Stone"
        },
        {
          "type": "text",
          "id": "address_line2",
          "label": "Address Line 2",
          "default": "E.W. Industries Ltd."
        },
        {
          "type": "text",
          "id": "address_city",
          "label": "Address City",
          "default": "Imperial, Saskatchewan"
        },
        {
          "type": "text",
          "id": "address_postcode",
          "label": "Address Postcode",
          "default": "S0G 2J0"
        },
        {
          "type": "text",
          "id": "address_email",
          "label": "Address Email",
          "default": "sales@vubagroup.com"
        },
        {
          "type": "text",
          "id": "address_phone",
          "label": "Address Phone",
          "default": "1-888-799-3960"
        }
      ]
    },
    {
      "type": "social_media",
      "name": "Social Media",
      "settings": [
        {
          "type": "text",
          "id": "social_heading",
          "label": "Social Heading",
          "default": "Let’s stay connected"
        },
        {
          "type": "url",
          "id": "instagram_link",
          "label": "Instagram Link"
        },
        {
          "type": "url",
          "id": "facebook_link",
          "label": "Facebook Link"
        },
        {
          "type": "url",
          "id": "twitter_link",
          "label": "Twitter Link"
        }
      ]
    }
  ],
    "presets": [
        {
        "name": "Vuba Footer",
        "blocks": [
            {
            "type": "logo"
            },
            {
            "type": "menu"
            },
            {
            "type": "address"
            },
            {
            "type": "social_media"
            }
        ]
        }
    ]
}
{% endschema %}
