<section class="banner -mt-20 md:mt-0 relative">
  {% if section.settings.desktop_banner != blank %}
    <img
      src="{{ section.settings.desktop_banner | image_url }}"
      class="w-full h-screen object-cover md:block hidden"
      alt="banner desktop"
    >
  {% endif %}
  {% if section.settings.mobile_banner != blank %}
    <img
      src="{{ section.settings.mobile_banner | image_url }}"
      class="w-full object-cover md:hidden"
      alt="banner mobile"
    >
  {% endif %}
  <div class="absolute -bottom-32 md:bottom-0 w-full h-full flex flex-wrap items-end">
    <div class="inner-container">
      <div class="">
        <div
          class="text-white px-5 md:px-8 3xl:px-12 py-10 md:py-8 3xl:pt-14 3xl:pb-8 max-w-sm md:max-w-sm 3xl:max-w-[534px] bg-primary"
          style="background-color: {{ section.settings.div_color | default: '#6c757d' }};"
        >
          <div class="flex items-center mb-8 md:mb-5 2xl:mb-8">
            {% if section.settings.logo_desktop != blank %}
              <img
                src="{{ section.settings.logo_desktop | image_url }}"
                class="mr-2 hidden md:block md:w-56"
                alt="vuba stone brochure download desktop"
              >
            {% endif %}
            {% if section.settings.logo_mobile != blank %}
              <img
                src="{{ section.settings.logo_mobile | image_url }}"
                class="mr-2 md:hidden"
                alt="vuba stone brochure download mobile"
              >
            {% endif %}
          </div>
          {% if section.settings.heading != blank %}
            <h3 class="text-xl md:text-lg 3xl:text-[27px] font-bold">{{ section.settings.heading }}</h3>
          {% endif %}
          <div class="flex flex-wrap gap-4 mt-8 mb-5">
            {% if section.settings.button_1_label != blank and section.settings.button_1_link != blank %}
              <a
                href="{{ section.settings.button_1_link }}"
                class="btn btn-outline-white px-4 3xl:px-8 py-2 3xl:py-3 font-AvenirNext text-sm md:text-xs 3xl:text-sm hover:bg-secondary hover:border-secondary"
              >
                {{- section.settings.button_1_label -}}
              </a>
            {% endif %}
            {% if section.settings.button_2_label != blank and section.settings.button_2_link != blank %}
              <a
                href="{{ section.settings.button_2_link }}"
                class="btn btn-outline-white px-4 3xl:px-8 py-2 3xl:py-3 font-AvenirNext text-sm md:text-xs 3xl:text-sm hover:bg-secondary hover:border-secondary"
              >
                {{- section.settings.button_2_label -}}
              </a>
            {% endif %}
          </div>
          {% if section.settings.description != blank %}
            <div class="text-sm">{{ section.settings.description }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Vuba Banner Two",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_banner",
      "label": "Desktop Banner Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_banner",
      "label": "Mobile Banner Image"
    },
    {
      "type": "color",
      "id": "div_color",
      "label": "Small Div Background Color",
      "default": "#821832"
    },
    {
      "type": "image_picker",
      "id": "logo_desktop",
      "label": "Desktop Logo"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Mobile Logo"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "About Us"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra bibendum augue quis congue. Nullam cursu Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
    },
    {
      "type": "text",
      "id": "button_1_label",
      "label": "Button 1 Text",
      "default": "MEET THE TEAM"
    },
    {
      "type": "url",
      "id": "button_1_link",
      "label": "Button 1 Link"
    },
    {
      "type": "text",
      "id": "button_2_label",
      "label": "Button 2 Text",
      "default": "Our hIstory"
    },
    {
      "type": "url",
      "id": "button_2_link",
      "label": "Button 2 Link"
    }
  ],
  "presets": [
    {
      "name": "Vuba Banner Two"
    }
  ]
}
{% endschema %}
