<section class="our-color py-14 3xl:py-32">
  <div class="inner-container">
    {% if section.settings.heading != blank %}
      <h2 class="font-poppins text-center text-secondary text-2xl lg:text-4xl 3xl:text-[44px] font-medium mb-5 xl:mb-[50px] 3xl:mb-[83px]">
        {{ section.settings.heading }}
      </h2>
    {% endif %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6  gap-x-[30px]  gap-y-[20px]  md:gap-x-[40px] md:gap-y-[40px] 3xl:gap-x-[60px] 3xl:gap-y-[60px]">
      {% for block in section.blocks %}
        {% if block.settings.collection %}
          <div class="column" {{ block.shopify_attributes }}>
            <figure class="text-center">
              {% if block.settings.collection.image != blank %}
                <img
                  src="{{ block.settings.collection.image | img_url: 'master' }}"
                  alt="Collection Title"
                  class="w-full h-auto object-cover aspect-[1/1] mb-[20px] 3xl:mb-[22px]"
                >
              {% endif %}
              <figcaption class="font-medium text[18px] font-poppins">
                {{ block.settings.collection.title }}
              </figcaption>
            </figure>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if section.settings.view_more_button != blank %}
      <div class="mt-8 3xl:mt-10 text-center block md:hidden">
        <a
          href="{{ section.settings.view_more_url }}"
          class="text-sm 3xl:text-base tracking-widest inline-block bg-primary hover:bg-secondary text-white hover:text-white px-7 py-4 rounded-xl font-bold"
        >
          {{ section.settings.view_more_button }}
        </a>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Vuba Collection List",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our Colours"
    },
    {
      "type": "text",
      "id": "view_more_button",
      "label": "View More",
      "default":"View More"
    },
    {
      "type": "url",
      "id": "view_more_url",
      "label": "View More URL",
      "default":"/"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vuba Collection List",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
