<section
  class="vuba-stone pt-44 md:pt-10 pb-14 3xl:pb-32"
>
  <div class="container md:px-24 3xl:px-36">
    <div class="flex-wrap gap-7 md:gap-4 3xl:gap-7 mb-20 md:mb-14 3xl:mb-20 hidden">
      {% if section.settings.button_text != blank %}
        <a
          href="{{ section.settings.button_url }}"
          class="px-10 md:px-6 3xl:px-10 py-[6px] rounded-full text-sm 3xl:text-lg font-medium border-[3px] border-primary text-primary hover:bg-primary hover:text-white"
        >
          {{- section.settings.button_text -}}
        </a>
      {% endif %}
      {% if section.settings.button_text_two != blank %}
        <a
          href="{{ section.settings.button_two_url }}"
          class="px-10 md:px-6 3xl:px-10 py-[6px] rounded-full text-sm 3xl:text-lg font-medium border-[3px] border-primary text-primary hover:bg-primary hover:text-white"
        >
          {{- section.settings.button_text_two -}}
        </a>
      {% endif %}
    </div>
    <div class="text-center">
      <h2
        class="text-primary text-4xl lg:text-4xl 3xl:text-[51px] font-bold mb-5 3xl:mb-20 text-primary"
      >
        {{ section.settings.title }}
      </h2>
      <p class="text-sm md:text-base 3xl:text-2xl">{{ section.settings.richtext }}</p>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Vuba Rich Text Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Rich Text Title"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Rich Text",
      "default": "<p>This is some rich text content.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Click Here"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "button_text_two",
      "label": "Button Text",
      "default": "Click Here"
    },
    {
      "type": "url",
      "id": "button_two_url",
      "label": "Button URL"
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link",
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vuba Rich Text Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
