<product-info
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-update-url="false"
  data-url="{{ product.url }}"
>
  <section class="product-detapl py-14 3xl:py-16">
    <div class="inner-container">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10 3xl:gap-40">
        <div class="flex justify-center items-start">
          {% if product.featured_image != blank %}
            <img
              src="{{ product.featured_image | img_url: '540x540' }}"
              class="w-[320px] rounded-full 3xl:w-[540px]"
              alt="{{ product.title }}"
            >
          {% else %}
            {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
        <div class="col-right text-sm 3xl:text-lg">
          <div class="mb-7 xl:mb-12 3xl:mb-24">
            <div class="pb-3 3xl:pb-5 mb-4 3xl:mb-6 border-b-2 border-gray 3xl:text-2xl">
              <h2 class="text-2xl 3xl:text-[44px] font-semibold mb-3 leading-[1.5]">{{ product.title }}</h2>
              <p class="text-primary">2-5mm</p>
              <span class="inline-block mb-3">£25kg</span>
            </div>
            <p>
              Big Sur brings the essence of coastal beauty to any outdoor setting. Inspired by the rugged landscapes of
              California’s coastline, Big Sur evokes a serene and calming aesthetic.
            </p>
          </div>
          <div class="flex flex-wrap gap-3">
            <button class="btn btn-outline-primary">Order Sample</button>
            <button class="btn btn-outline-primary">Add to Basket</button>
          </div>
        </div>
      </div>
      {% comment %}
                <div class="text-sm 3xl:text-2xl mt-10 py-8 3xl:pb-12 border-t-2 border-b-2 border-[#707070]">
          <h2 class="text-2xl 3xl:text-[44px] font-semibold leading-[1.5] 3xl:mb-12">Further Product Information</h2>
          <div class="mt-4 pb-5 3xl:pb-10 border-b-2 border-gray xl:flex items-start gap-x-10 3xl:gap-x-24">
            <h3 class="text-lg 3xl:text-4xl mb-2 font-medium xl:min-w-[78px] 3xl:min-w-[160px]">Overview</h3>
            <p>
              Big Sur brings the essence of coastal beauty to any outdoor setting. Inspired by the rugged landscapes of
              California’s coastline, Big Sur evokes a serene and calming aesthetic.
            </p>
          </div>

          <div class="mt-4 3xl:mt-10 xl:flex items-start gap-x-10 3xl:gap-x-24">
            <h3 class="text-lg 3xl:text-4xl mb-2 font-medium xl:min-w-[78px] 3xl:min-w-[160px]">Specs</h3>
            <p>
              Big Sur brings the essence of coastal beauty to any outdoor setting. Inspired by the rugged landscapes of
              California’s coastline, Big Sur evokes a serene and calming aesthetic.
            </p>
          </div>
        </div>
      {% endcomment %}
    </div>
  </section>
</product-info>
