<header class="bg-maroon-800 p-4 flex justify-between items-center">
  <div class="logo">
    <a href="{{ routes.root_url }}">
      {% if settings.logo != blank %}
        <img
          src="{{ settings.logo | image_url: width: 200 }}"
          alt="{{ settings.logo.alt | default: shop.name }}"
          class="h-12"
        >
      {% else %}
        <span class="text-white text-xl font-bold">{{ shop.name }}</span>
      {% endif %}
    </a>
  </div>

  <div class="search flex items-center">
    {% render 'header-search' %}
  </div>

  <nav>
    <ul class="flex space-x-4">
      {%- for link in section.settings.menu.links -%}
        <li>
          {%- if link != blank -%}
            <a href="{{ link.url }}" class="text-white font-bold">{{ link.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ],
  "presets": [
    {
      "name": "Vuba Header"
    }
  ]
}
{% endschema %}
