<!-- ----- Start of This is vuba stone ----- -->
<section
  class="vuba-stone pt-44 md:pt-10 pb-14 2xl:pb-32"
  style="
    {% if section.settings.background_image != blank %}
      background-image: url('{{ section.settings.background_image | image_url }}');
    {% endif %}
    {% if section.settings.background_color != blank %}
      background-color: {{ section.settings.background_color }};
    {% endif %}
  "
>
  <div class="container" style="color: {{ section.settings.text_color }};">
    <div class="flex-wrap gap-7 mb-16 hidden md:flex text-{{ section.settings.alignment }}">
      {% if section.settings.button_text != blank %}
        <a
          href="{{ section.settings.button_url }}"
          class="px-10 py-[6px] rounded-full text-lg font-medium border-[3px] border-primary text-primary hover:bg-primary hover:text-white"
        >
          {{- section.settings.button_text -}}
        </a>
      {% endif %}
      {% if section.settings.button_text_two != blank %}
        <a
          href="{{ section.settings.button_two_url }}"
          class="px-10 py-[6px] rounded-full text-lg font-medium border-[3px] border-primary text-primary hover:bg-primary hover:text-white"
        >
          {{- section.settings.button_text_two -}}
        </a>
      {% endif %}
    </div>
    <div class="text-{{ section.settings.text-alignment }}">
      <h2 class="text-primary {{ section.settings.title_size }} lg:{{ section.settings.title_size }} 2xl:{{ section.settings.title_size }} font-bold mb-5 2xl:mb-20">
        {{ section.settings.title }}
      </h2>
      <p class="text-sm lg:text-xl 2xl:text-2xl">{{ section.settings.richtext }}</p>
    </div>
  </div>
</section>
<!-- ----- End of This is vuba stone ----- -->

{% schema %}
{
  "name": "Vuba Rich Text Section1",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#121212"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Rich Text Title"
        },
        {
        "type": "select",
        "id": "title_size",
        "label": "Title Size",
        "options": [
          {
            "value": "text-4xl",
            "label": "Extra Large"
          },
          {
            "value": "text-3xl",
            "label": "Large"
          },
          {
            "value": "text-2xl",
            "label": "Medium"
          },
          {
            "value": "text-xl",
            "label": "Small"
          }
        ],
          "default": "text-4xl"
        },
        {
          "type": "select",
          "id": "text-alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "center"
        },
        {
      "type": "richtext",
      "id": "richtext",
      "label": "Rich Text",
      "default": "<p>This is some rich text content.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Click Here"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "button_text_two",
      "label": "Button Text",
      "default": "Click Here"
    },
    {
      "type": "url",
      "id": "button_two_url",
      "label": "Button URL"
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link",
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vuba Rich Text Section1",
      "category": "Custom"
    }
  ]
}
{% endschema %}
