<section class="vuba-stone-update bg-gray py-14 3xl:pt-32 3xl:pb-28">
  <div class="container">
    <h2 class="text-primary text-center text-4xl lg:text-4xl 3xl:text-[51px] font-bold mb-10 3xl:mb-20">
      {{ section.settings.section_heading }}
    </h2>
    <div class="owl-carousel owl-theme vs-update-slider">
      {% assign blog_handle = section.settings.blog_handle %}
      {% if blog_handle %}
        {% for article in blogs[blog_handle].articles %}
          <div class="bg-white col h-full flex flex-wrap flex-col column transition-all duration-500 ease-in-out group hover:cursor-pointer">
            <figure class="aspect-square">
              <img
                src="{{ article.image | img_url: 'master' }}"
                class="w-full object-cover h-full aspect-square"
                alt="{{ article.title }}"
              >
            </figure>
            <div class="pt-7 md:pt-10 3xl:pt-16 pb-7 3xl:pb-28 px-7 3xl:px-12 text-center flex-1 basis-auto flex flex-wrap flex-col">
              <h3 class="title text-xl 3xl:text-2xl font-bold group-hover:text-secondary mb-0">
                {{ article.title | truncate: 50 | escape }}
              </h3>
              <h4 class="text-base 3xl:text-xl font-medium pt-3 pb-6 3xl:py-7 mb-0">
                CATEGORY: {{ blog_handle | upcase }}
              </h4>
              <div class="dis text-gray-600 text-sm pb-5 3xl:pb-14">
                {%- if article.excerpt.size > 0 -%}
                  {{ article.excerpt | strip_html | truncatewords: 30 }}
                {%- else -%}
                  {{ article.content | strip_html | truncatewords: 30 }}
                {%- endif -%}
              </div>
              <div class="btn-wrap mt-auto">
                <a
                  href="{{ article.url }}"
                  class="btn btn-outline-primary group-hover:border-secondary group-hover:text-secondary"
                >
                  Read Article
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="text-center">No blog selected or no articles available.</p>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Vuba Stone Updates",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Vuba Stone Updates"
    },
    {
      "type": "blog",
      "id": "blog_handle",
      "label": "Select Blog"
    }
  ],
  "presets": [
    {
      "name": "Vuba Stone Updates",
      "category": "Custom"
    }
  ]
}
{% endschema %}
