<section class="latest-project padding-right-zeero pt-14 md:pt-28 3xl:pt-44 pb-24">
  <div class="mx-auto">
    <h2 class="text-primary text-center md:text-start text-4xl 3xl:text-[51px] font-bold mb-10 md:mb-10 3xl:mb-20">
      {% if section.settings.section_heading != blank %}
        {{ section.settings.section_heading }}
      {% endif %}
    </h2>
    <div class="owl-carousel latest-project-slider">
      {% assign blog_handle = section.settings.blog_handle %}
      {% if blog_handle %}
        {% for article in blogs[blog_handle].articles %}
          <div class="item bg-gradient relative rounded-[20px] overflow-hidden before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:w-full before:h-full">
            <img src="{{ article.image | img_url: '720x720' }}" alt="{{ article.title }}" class="w-full object-cover">
            <div class="absolute inset-0 bg-black bg-opacity-40 flex flex-col justify-end p-5 2xl:py-12 2xl:px-10 text-white">
              <h3 class="font-bold text-2xl 3xl:text-[33px]">{{ article.title }}</h3>
              <p class="text-sm mt-3 mb-4">
                {%- if article.excerpt.size > 0 -%}
                  {{ article.excerpt | strip_html | truncatewords: 20 }}
                {%- else -%}
                  {{ article.content | strip_html | truncatewords: 20 }}
                {%- endif -%}
              </p>
              <div>
                <a
                  href="{{ article.url }}"
                  class="px-6 uppercase py-3 rounded-[10px] inline-block tracking-widest text-sm font-bold border-[3px] border-white hover:bg-primary hover:border-primary"
                  >Learn More</a
                >
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="text-center text-gray-500">No blog selected or no articles available.</p>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
    "name": "Vuba Latest Projects",
    "settings": [
        {
            "type": "text",
            "id": "section_heading",
            "label": "Section Heading",
            "default": "Latest Projects"
        },
        {
            "type": "blog",
            "id": "blog_handle",
            "label": "Select Blog"
        }
    ],
    "presets": [
        {
            "name": "Vuba Latest Projects",
            "category": "Sections"
        }
    ]
}
{% endschema %}
