<section
  class="bg-fixed bg-cover bg-center pt-[60px] pb-[60px] 3xl:pt-[190px] 3xl:pb-[120px] text-white "
  style="background-image: url('{{ section.settings.background_image | img_url: 'master' }}');"
>
  <div class="inner-container ">
    <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-[40px] md:gap-6 mb-[40px] 3xl:mb-[130px] max-w-[400px] md:max-w-max mx-auto">
      {% for block in section.blocks %}
        <div class="text-center" {{ block.shopify_attributes }}>
          <img
            src="{{ block.settings.icon | img_url: 'master' }}"
            alt="{{ block.settings.title }}"
            class="w-full max-w-[60px] 3xl:max-h-[142px] mx-auto mb-[32px] hidden md:block"
          >
          <img
            src="{{ block.settings.icon_mobile | img_url: 'master' }}"
            alt="{{ block.settings.title }}"
            class="w-full max-w-[60px] 3xl:max-h-[142px] mb-[20px]  md:hidden"
          >
          <h3 class="text-white text-left md:text-center text-[14px] 3xl:text-[24px] font-bold font-poppins xl:leading-6 3xl:leading-9">
            {{ block.settings.title }}
          </h3>
        </div>
      {% endfor %}
    </div>
    <div class="desc-wrap font-poppins text-[14px] 3xl:text-[20px] text-center max-w-[800px] 3xl:max-w-[1275px] mx-auto ">
      <p>{{ section.settings.description }}</p>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Highlight Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "highlight",
      "name": "Highlight Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Desktop Icon"
        },
        {
          "type": "image_picker",
          "id": "icon_mobile",
          "label": "Mobile Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Highlight Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
