<section class="contact-us pt-40 3xl:pt-52">
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 gap-y-10 items-center">
            <div class="text-sm 2xl:text-base 3xl:text-xl max-w-3xl">
                <h2 class="text-4xl 3xl:text-[51px] font-bold text-primary mb-5 3xl:mb-10 leading-[1.3]">
                    {{ settings.contact_us_heading }}
                </h2>
                <p>{{ settings.contact_us_description }}</p>
                <div class="flex md:block justify-between items-center mt-5">
                    <ul class="text-xl 3xl:text-[29px] font-bold md:mb-8 leading-[1.5]">
                        <li>
                            <a href="mailto:{{ settings.contact_email }}" class="text-primary">
                                {{ settings.contact_email }}
                            </a>
                        </li>
                        <li>
                            <a href="tel:{{ settings.contact_phone }}" class="text-primary">
                                {{ settings.contact_phone }}
                            </a>
                        </li>
                    </ul>
                    <div class="contact-logo">
                        <a href="#" class="inline-block">
                            <img src="{{ 'footer-logo-d.svg' | asset_url }}" class="hidden md:block md:w-[130px] 3xl:w-[230px]" alt="Vuba Stone Logo Desktop">
                            <img src="{{ 'footer-logo-m.svg' | asset_url }}" class="md:hidden inline-block w-10" alt="Vuba Stone Logo Mobile">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-right">
                <div class="max-w-3xl mr-0 ml-auto bg-gray rounded-3xl overflow-hidden">
                    <img class="w-full" src="{{ 'contact-form.jpg' | asset_url }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
{
    "name": "Contact Us Section",
    "settings": [
        {
            "type": "text",
            "id": "contact_us_heading",
            "label": "Contact Us Heading",
            "default": "Contact Us Today"
        },
        {
            "type": "textarea",
            "id": "contact_us_description",
            "label": "Contact Us Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra bibendum augue quis congue. Nullam cursus lorem ipsum dolor sit amet, consectetur adipiscing elit."
        },
        {
            "type": "text",
            "id": "contact_email",
            "label": "Contact Email",
            "default": "sales@vuba-stone.com"
        },
        {
            "type": "text",
            "id": "contact_phone",
            "label": "Contact Phone",
            "default": "01482 778897"
        }
    ]
}
{% endschema %}