<section class="py-12">
  <div class="container mx-auto">
    <div class="text-center mb-8">
      <h2 class="text-3xl font-bold">{{ section.settings.section_heading }}</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      {% for block in section.blocks %}
        <div class="installer-block bg-white p-4 rounded-lg shadow-md text-center">
          {% if block.settings.image != blank %}
            <div class="mb-4">
              <img
                src="{{ block.settings.image | img_url: 'medium' }}"
                alt="{{ block.settings.title }}"
                class="w-full h-auto"
              >
            </div>
          {% endif %}

          <div class="mb-4">
            {% if block.settings.title != blank %}
              <h3 class="text-xl font-semibold">{{ block.settings.title }}</h3>
            {% endif %}
          </div>

          <div class="mb-4">
            {% if block.settings.description != blank %}
              <p class="text-gray-600">{{ block.settings.description }}</p>
            {% endif %}
          </div>

          <div>
            {% if block.settings.button_text != blank %}
              <a
                href="{{ block.settings.button_link }}"
                class="btn btn-outline-white group-hover:bg-primary group-hover:text-white group-hover:border-primary"
              >
                {{- block.settings.button_text -}}
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Vuba Multi Column",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Benefits of using a Vuba Installer"
    }
  ],
  "blocks": [
    {
      "type": "installer_block",
      "name": "Installer Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Installer"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Lorem ipsum dolor sit."
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Learn more"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vuba MultiColumn",
      "category": "Vuba MultiColumn",
      "blocks": [
        {
          "type": "installer_block"
        },
        {
          "type": "installer_block"
        },
        {
          "type": "installer_block"
        },
        {
          "type": "installer_block"
        }
      ]
    }
  ]
}
{% endschema %}
