<section class="vuba-installer flex justify-center items-center 3xl:pb-8 pb-6">
  <div class="container">
    <div class="pt-14 md:pt-10 lg:pt-[100px] 3xl:pt-[150px] pb-5 md:pb-10 2xl:pb-16 3xl:pb-24">
      <div class="relative bg-gray 3xl:max-w-[1410px] 2xl:max-w-[1300px] mx-auto rounded-xl shadow-lg flex items-center px-5 pt-32 pb-10 lg:py-24 3xl:py-36 lg:px-20 3xl:px-24">
        <div class="relative z-10">
          <p class="text-sm md:text-base 2xl:text-xl">{{ section.settings.category_name }}</p>
          <h2 class="text-4xl 3xl:text-[49px] font-bold mt-3 mb-7 lg:mt-4 3xl:mt-9 lg:mb-8 3xl:mb-10">
            {{ section.settings.heading | newline_to_br }}
          </h2>
          <a
            href="{{ section.settings.button_link }}"
            class="px-8 md:tracking-widest 3xl:px-12 py-[15px] 3xl:py-4 inline-block font-AvenirNext rounded-[10px] text-sm 3xl:text-base font-bold text-white bg-primary hover:bg-secondary"
          >
            {{- section.settings.button_text -}}
          </a>
        </div>
        <div class="absolute w-[215px] sm:w-[195px] md:w-[170px] lg:w-[215px] 2xl:w-[235px] 3xl:w-[325px] -top-[55px] md:-top-[40px] lg:-top-[100px] 2xl:-top-28 3xl:-top-[150px] -right-4 sm:right-8 md:right-32 2xl:right-[280px] 3xl:right-[260px]">
          <img src="{{ section.settings.image | img_url: 'master' }}" class="w-full" alt="Vuba Installer">
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Vuba Installer",
  "settings": [
    {
      "type": "text",
      "id": "category_name",
      "label": "Category Name",
      "default": "Category Name"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "Become a Vuba Installer"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "GO TO INSTALLER"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Image Alt Text",
      "default": "Vuba Installer"
    }
  ],
  "presets": [
    {
      "name": "Default Vuba Installer",
      "category": "Custom Sections",
      "settings": {
        "category_name": "Category Name",
        "heading": "Become a Vuba Installer",
        "button_link": "#",
        "button_text": "GO TO INSTALLER",
        "image": "",
        "image_alt": "Vuba Installer"
      }
    }
  ]
}
{% endschema %}
