<section class="vuba-color-bottom pb-14 3xl:pb-28">
  <div class="container">
    <div class="vuba-world-bleds-slider grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-x-3 gap-y-3.5">
      {% for block in section.blocks %}
        <div
          class="item bg-gray rounded-2xl py-12 px-10 md:px-5 xl:px-10 text-center h-full flex flex-wrap flex-col"
          {{ block.shopify_attributes }}
        >
          {% if block.settings.image != blank %}
            <div class="mx-auto rounded-full overflow-hidden mb-7">
              <img
                src="{{ block.settings.image | img_url: 'master' }}"
                alt="{{ block.settings.title | escape }}"
                class="w-full h-full object-cover"
              >
            </div>
          {% endif %}
          {% if block.settings.size != blank %}
            <span class="text-sm 3xl:text-xl text-primary mt-2">{{ block.settings.size }}</span>
          {% endif %}
          {% if block.settings.title != blank %}
            <h3 class="text-2xl 3xl:text-3xl font-medium my-3">{{ block.settings.title }}</h3>
          {% endif %}
          {% if block.settings.product_url != blank %}
            <a
              href="{{ block.settings.product_url }}"
              class="text-sm 3xl:text-xl xl:my-3 inline-block font-medium underline hover:text-primary"
            >
              View product
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    {% if section.settings.view_more_url != blank %}
      <div class="mt-8 3xl:mt-10 text-center block md:hidden">
        <a
          href="{{ section.settings.view_more_url }}"
          class="text-sm 3xl:text-base tracking-widest inline-block bg-primary hover:bg-secondary text-white hover:text-white px-7 py-4 rounded-xl font-bold"
        >
          {{ section.settings.view_more_text }}
        </a>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Vuba Color Bottom",
  "settings": [
    {
      "type": "url",
      "id": "view_more_url",
      "label": "View More Button URL"
    },
    {
      "type": "text",
      "id": "view_more_text",
      "label": "View More Button Text",
      "default": "VIEW MORE"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "size",
          "label": "Product Size",
          "default": "2-5mm"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Product Title",
          "default": "Ivory Marble"
        },
        {
          "type": "url",
          "id": "product_url",
          "label": "Product Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vuba Color Bottom",
      "category": "Custom Sections",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
