<section class="our-training-cources">
  <div class="pt-44 pb-14 md:py-14 3xl:py-16 text-sm 2xl:text-base 3xl:text-2xl text-center max-w-5xl mx-auto px-4">
    {% if section.settings.section_title != blank %}
      <h2 class="text-primary text-4xl 3xl:text-[51px] font-bold mb-6 3xl:mb-14">
        {{ section.settings.section_title }}
      </h2>
    {% endif %}
    {% if section.settings.section_description != blank %}
      <div>{{ section.settings.section_description }}</div>
    {% endif %}
  </div>

  {% for block in section.blocks %}
    <div
      class="training-cources-{{ block.settings.course_id }} py-36 3xl:py-40 relative w-full min-h-screen bg-fixed bg-center bg-cover before:content-[''] before:w-full before:h-full before:top-0 before:left-0 before:absolute before:bg-black before:opacity-50"
      {% if block.settings.background_image != blank %}
        style="background-image: url('{{ block.settings.background_image | img_url: 'master' }}');"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      <div class="container">
        <div class="relative">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
            <div class="text-white text-sm xl:text-lg md:max-w-lg">
              {% if block.settings.course_title != blank %}
                <h2 class="text-4xl 3xl:text-5xl font-bold mb-8 md:mb-5 3xl:mb-8">{{ block.settings.course_title }}</h2>
              {% endif %}
              {% if block.settings.course_desc_one != blank %}
                <div class="text-sm xl:text-xl font-bold space-y-1 mb-6">
                  <span class="inline-block bg-primary px-4">{{ block.settings.course_desc_one }}</span>
                  <span class="inline-block bg-primary px-4">{{ block.settings.course_desc_two }}</span>
                </div>
              {% endif %}

              {% if block.settings.course_description != blank %}
                <div>{{ block.settings.course_description }}</div>
              {% endif %}

              <div class="mt-5 text-sm">
                {% if section.settings.heading_one != blank %}
                  <h3 class="font-bold xl:text-lg mb-3">{{ block.settings.heading_one }}</h3>
                {% endif %}
                <ul>
                  {% for item in block.settings.day_1_content %}
                    <li>{{ item }}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="mt-5 text-sm">
                {% if section.settings.heading_two != blank %}
                  <h3 class="font-bold xl:text-lg mb-3">{{ block.settings.heading_two }}</h3>
                {% endif %}
                <ul>
                  {% for item in block.settings.day_2_content %}
                    <li>{{ item }}</li>
                  {% endfor %}
                </ul>
              </div>
              <a
                href="javascript:void(0);"
                data-course-id="{{ block.settings.course_id }}"
                class="show-form-button inline-block cursor-pointer mt-8 px-6 py-3 border-[3px] hover:text-primary hover:bg-white hover:border-white font-bold rounded-lg"
              >
                {{- block.settings.registration_button_text -}}
              </a>
              <div class="btn-wrap flex flex-wrap gap-5 mt-10">
                {% if block.settings.warranty_image != blank %}
                  <img
                    src="{{ block.settings.warranty_image | img_url: 'master' }}"
                    alt="10 year warranty"
                  >
                {% endif %}
                {% if block.settings.warranty_image_alt != blank %}
                  <img
                    src="{{ block.settings.warranty_image_alt | img_url: 'master' }}"
                    alt="10 year warranty"
                  >
                {% endif %}
              </div>
            </div>
            <div class="col-right hidden form-container-{{ block.settings.course_id }}">
              <div class="max-w-3xl mr-0 ml-auto rounded-3xl overflow-hidden">
                {% if block.settings.custom_form != blank %}
                  <div class="bg-primary text-white mb-auto common-form-box">
                    {% if block.settings.title != blank %}
                      <div class="common-form-heading-wrap">
                        <h2 class="common-form-title mb-0">{{ block.settings.title }}</h2>
                      </div>
                    {% endif %}
                    {{ block.settings.custom_form }}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".show-form-button");

    buttons.forEach((btn) => {
      btn.addEventListener("click", function () {
        const id = this.getAttribute("data-course-id");
        const form = document.querySelector(`.form-container-${id}`);

        if (form) {
          form.classList.toggle("hidden");
          if (!form.classList.contains("hidden")) {
            form.scrollIntoView({ behavior: "smooth" });
          }
        }
      });
    });
  });
</script>
{% schema %}
{
  "name": "Vuba Training Courses",
  "settings": [
    {
      "type": "text",
      "label": "Section Title",
      "id": "section_title",
      "default": "Our training courses"
    },
    {
      "type": "richtext",
      "label": "Section Description",
      "id": "section_description",
      "default": "<p>We are the preferred surface for household names, big brands and homeowners worldwide. Proudly BBA certified, a testament to our quality and excellence.</p>"
    }
  ],
  "blocks": [
    {
      "type": "course",
      "name": "Training Course",
      "settings": [
        {
          "type": "text",
          "label": "Course Title",
          "id": "course_title",
          "default": "2 Day Training Course"
        },
        {
          "type": "richtext",
          "label": "Course Description",
          "id": "course_description",
          "default": "<p>The courses are 2 days long and include a presentation and on-site training learning about the preparation of the base and Vuba Stone application.</p>"
        },
        {
          "type": "text",
          "label": "Course Description Span",
          "id": "course_desc_one",
          "default": "2 day training must be completed prior"
        },
        {
          "type": "text",
          "label": "Course Description Span",
          "id": "course_desc_two",
          "default": "To registering for this training."
        },
        {
          "type": "image_picker",
          "label": "Background Image",
          "id": "background_image"
        },
        {
          "type": "text",
          "label": "Day One Heading",
          "id": "heading_one"
        },
                {
          "type": "richtext",
          "label": "Day 1 Content",
          "id": "day_1_content",
          "default": "<p>Meet and greet with an introduction to Vuba Stone</p><ul><li>On-site introduction to all tools, equipment, and project preparation</li><li>Introduction to the installation process</li><li>Theory Presentation</li><li>Q&amp;A sessions with the Vuba team and experienced Vuba Stone installers</li></ul>"
        },
        {
          "type": "text",
          "label": "Day Two Heading",
          "id": "heading_two"
        },
                {
          "type": "richtext",
          "label": "Day 2 Content",
          "id": "day_2_content",
          "default": "<p>Completing a Vuba Stone project up to 1000 square feet<p>"
        },
        {
          "type": "text",
          "label": "Course ID (unique identifier)",
          "id": "course_id",
          "default": "1"
        },
        {
          "type": "text",
          "label": "Registration Button Text",
          "id": "registration_button_text",
          "default": "BECOME A REGISTERED INSTALLER"
        },
        {
          "type": "image_picker",
          "label": "Warranty Image",
          "id": "warranty_image"
        },
        {
          "type": "image_picker",
          "label": "Warranty Image Alt",
          "id": "warranty_image_alt"
        },
        {
          "type": "header",
          "content": "Right Column (Form Section)"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Form Heading"
        },
        {
          "type": "liquid",
          "id": "custom_form",
          "label": "Custom Form Code"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vuba Training Courses",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
