<div class="relative banner w-full h-[500px] 3xl:h-[600px] flex items-center justify-center text-white before:content-[''] before:bg-balck before:absolute before:w-full before:h-full before:bg-black before:opacity-25 before:left-0 before:top-0 before:z-[1]">
  <img
    src="{{ section.settings.headline_image | img_url:'master' }}"
    class="absolute w-full h-full object-cover"
    alt="Headline Click Through Image"
  >
  <div class="relative z-10 text-center px-6">
    {% if section.settings.headline_text != blank %}
      <h1 class="text-4xl 3xl:text-[51px] font-bold">{{ section.settings.headline_text }}</h1>
    {% endif %}
    {% if section.settings.subheading_text != blank %}
      <div class="pt-5 pb-10 3xl:py-12 text-sm 3xl:text-2xl max-w-2xl mx-auto">
        <p>{{ section.settings.subheading_text }}</p>
      </div>
    {% endif %}
    {% if section.settings.button_link %}
      <a
        href="{{ section.settings.button_link }}"
        class="text-sm 3xl:text-base tracking-widest inline-block bg-primary hover:bg-white text-white hover:text-primary px-7 py-4 rounded-xl font-bold"
      >
        {{ section.settings.button_text }}
      </a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Vuba Headline",
  "settings": [
    {
      "type": "image_picker",
      "id": "headline_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "headline_text",
      "label": "Headline Text",
      "default": "Headline & Click through"
    },
    {
      "type": "textarea",
      "id": "subheading_text",
      "label": "Subheading Text",
      "default": "We are the preferred surface for household names, big brands and homeowners worldwide."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "GO TO INSTALLER"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Vuba Headline Section",
      "category": "Vuba Headline"
    }
  ]
}
{% endschema %}
