<section class="odd-even-sectoin mx-auto pt-[60px] lg:pt-[80px] 2xl:pt-[95px] pb-[60px] lg:pb-[80px] 2xl:pb-[120px] bg-[#fafafa] rounded-3xl">
  <div class="container">
    <div class="flex flex-col gap-y-[40px] xl:gap-y-[60px] 2xl:gap-y-[120px]">
      <div class="flex flex-wrap gap-y-[40px] lg:items-center flex-row-reverse">
        <div class="column w-[100%] md:w-[46%]">
          <div class="md:max-w-[300px] lg:max-w-[400px] xl:max-w-[500px] 2xl:max-w-[599px]">
            {% if section.settings.heading_1 != blank %}
              <h3 class="text-secondary text-[36px] xl:text-3xl 3xl:text-[53px] font-medium font-poppins leading-[40px] 3xl:leading-normal mb-[20px] lg:mb-7 ">
                {{ section.settings.heading_1 }}
              </h3>
            {% endif %}
            <div class="text-[16px] 2xl:text-[23px] font-poppins ">
              {% if section.settings.description_1 != blank %}{{ section.settings.description_1 }} {% endif %}
            </div>
          </div>
        </div>
        {% if section.settings.video_url contains 'youtube.com' or section.settings.video_url contains 'youtu.be' %}
          {% assign video_id = section.settings.video_url
            | replace: 'https://www.youtube.com/watch?v=', ''
            | replace: 'https://youtu.be/', ''
          %}
          {% assign final_video_url = 'https://www.youtube.com/embed/' | append: video_id %}
        {% else %}
          {% assign final_video_url = section.settings.video_url %}
        {% endif %}
        <div class="column w-[100%] md:w-[54%]">
          <figure class="relative w-full pb-[56.25%] rounded-2xl overflow-hidden">
            {% if final_video_url != blank %}
              <iframe
                class="absolute top-0 left-0 w-full h-full"
                src="{{ final_video_url }}"
                title="Video"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""
              ></iframe>
            {% else %}
              {{
                'hero-apparel-3'
                | placeholder_svg_tag: 'placeholder-svg placeholder absolute top-0 left-0 w-full h-full'
              }}
            {% endif %}
          </figure>
        </div>
      </div>

      <div class="flex flex-wrap gap-y-[40px] lg:items-center">
        <div class="column w-[100%] md:w-[46%]">
          <div class="md:max-w-[300px] lg:max-w-[400px] xl:max-w-[500px] 2xl:max-w-[599px]">
            {% if section.settings.heading_2 != blank %}
              <h3 class="text-secondary text-[36px] xl:text-3xl 3xl:text-[53px] font-medium font-poppins leading-[40px] 3xl:leading-normal mb-[20px] lg:mb-7 ">
                {{ section.settings.heading_2 }}
              </h3>
            {% endif %}
            <div class="text-[16px] 2xl:text-[23px] font-poppins ">
              {% if section.settings.description_2 != blank %}{{ section.settings.description_2 }} {% endif %}
            </div>
          </div>
        </div>
        <div class="column w-[100%] md:w-[54%]">
          {% if section.settings.image_url != blank %}
            <figure class="relative w-full rounded-2xl overflow-hidden">
              <img
                src="{{ section.settings.image_url | img_url:'master' }}"
                class="w-[100%]"
                alt="Air Source Heat Pump"
              >
            </figure>
          {% else %}
            {{
              'hero-apparel-3'
              | placeholder_svg_tag: 'placeholder-svg placeholder relative w-full rounded-2xl overflow-hidden'
            }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Vuba Intro Multirow",
  "settings": [
    {
      "type": "text",
      "id": "heading_1",
      "label": "Heading 1",
      "default": "What is VubaMac?"
    },
    {
      "type": "textarea",
      "id": "description_1",
      "label": "Description 1",
      "default": "<p>With a monolithic bond guaranteeing long-lasting performance, VubaMac surpasses conventional materials like concrete and asphalt in longevity and flexibility</p>"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Video URL"
    },
    {
      "type": "text",
      "id": "heading_2",
      "label": "Heading 2",
      "default": "What is VubaMac?"
    },
    {
      "type": "richtext",
      "id": "description_2",
      "label": "Description 2",
      "default": "<p>With a monolithic bond guaranteeing long-lasting performance, VubaMac surpasses conventional materials like concrete and asphalt in longevity and flexibility</p>"
    },
    {
      "type": "image_picker",
      "id": "image_url",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Vuba Intro Multirow",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
