<section
  class="text-white text-center py-14 xl:py-20 3xl:py-40 relative w-full bg-center bg-cover before:content-[''] before:w-full before:h-full before:top-0 before:left-0 before:absolute before:bg-black before:opacity-50"
  {% if section.settings.background_image != blank %}
    style="background-image: url('{{ section.settings.background_image | img_url: 'master' }}');"
  {% endif %}
>
  <div class="inner-container relative z-10">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-y-10 gap-x-5 text-start md:text-center">
      {% for block in section.blocks %}
        <div class="space-y-5 3xl:space-y-8" {{ block.shopify_attributes }}>
          {% if block.settings.icon != blank %}
            <img
              src="{{ block.settings.icon | img_url: 'master' }}"
              alt="MultiColumn background Image"
              class="h-16 3xl:h-28 md:mx-auto"
            >
          {% endif %}
          {% if block.settings.icon_mobile != blank %}
            <img
              src="{{ block.settings.icon_mobile | img_url: 'master' }}"
              alt="{{ block.settings.title }}"
              class="w-full max-w-[60px] 3xl:max-h-[142px] mb-[20px]  md:hidden"
            >
          {% endif %}
          {% if block.settings.title != blank %}
            <h3 class="font-bold text-sm 3xl:text-2xl">
              {{ block.settings.title }}
              {% if block.settings.title2 != blank %}
                <br>
                {{ block.settings.title2 }}
              {% endif %}
            </h3>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% if section.settings.description != blank %}
      <div class="desc-wrap text-sm 3xl:text-2xl mt-10 3xl:mt-36 xl:px-24">
        {{ section.settings.description }}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Vuba Intro MultiColumn",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Description</p>"
    }
  ],
  "blocks": [
    {
      "type": "highlight",
      "name": "Highlight Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Desktop Icon"
        },
        {
          "type": "image_picker",
          "id": "icon_mobile",
          "label": "Mobile Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "title2",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vuba Intro MultiColumn",
      "category": "Custom Section",
      "blocks": [
        { "type": "highlight" },
        { "type": "highlight" },
        { "type": "highlight" },
        { "type": "highlight" }
      ]
    }
  ]
}
{% endschema %}
